@import "~bootstrap/scss/bootstrap";

ul {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.img-container {
    width: 80px;
    height: 80px;
}

.card-container {
    width: 60%;
    margin: 20px;
}