@import "~bootstrap/scss/bootstrap";

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header li {
    display: inline;
    font-size: 12px;
    color: rgb(90, 90, 90);
}

header li:hover {
    color: #0D6EFD;
}

.img-container {
    width: 80px;
    height: 80px;
}

.card-container {
    width: 60%;
    margin: 20px;
}

.footer-bg {
    background-image: url("../img/footer_bg.jpg");
    background-position: 30% 50%;
    padding: 40px 0;
}

footer .footer-list li {
    font-size: 12px;
    color: gray;
}

footer .footer-list li:first-child {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
}